<!DOCTYPE html>
<html lang="fr">
<p>
Requête : ajouter un bateau<br><br>

POST http://localhost:4000/api/bateau<br><br>

JSON requis :<br>
&#123;<br>
&nbsp;&nbsp;&quot;nom_bateau&quot;: &quot;Nom&quot;,<br>
&nbsp;&nbsp;&quot;numero_voile&quot;: &quot;123&quot;,<br>
&nbsp;&nbsp;&quot;classe_bateau&quot;: &quot;Classe&quot;,<br>
&nbsp;&nbsp;&quot;nom_barreur&quot;: &quot;Nom du barreur&quot;<br>
&#125;
</p>
</html>